
<div class="container" style="border-radius: 10px;border: 1px solid #cdcdcd;padding: 10px; margin-top: 40px">
    <h1>{{ 'users.tittle' | translate}}</h1>
    <hr>
    <div class="container" style="padding-top: 40px;">
        <table class="table table-striped table-hover table-bordered width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-dark">
                <tr>
                    <th>{{ 'answers.table.key' | translate}}</th>
                    <th>{{ 'answers.table.row' | translate}}</th>
                    <th>{{ 'answers.table.date' | translate}}</th>
                    <th>{{ 'answers.table.answer' | translate}}</th>
                    <th>Acciones</th>

                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let a of answers; let i = index">
                    <td>{{ a.partitionKey }}</td>
                    <td>{{ a.rowKey }}</td>
                    <td>{{ a.timestamp  | date: 'dd/MM/YYYY HH:mm:ss'  }}</td>
                    <td>{{ a.answer  }}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
